.footer {
    display: flex;
    flex-wrap: wrap;
    color: $footer-colour;
    background-color: $footer-bg;

    &__images {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        @media (min-width: $sm) {
            width: 40%;
        }
    }

    &__investing,
    &__logo,
    &__disclaimer {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    &__investing {
        @media (min-width: $xl) {
            width: 60%;
        }
    }

    &__logo {
        @media (min-width: $xl) {
            width: 40%;
        }
    }

    &__disclaimer {
        @media (min-width: $sm) {
            width: 60%;
        }
    }

    &__img {
        width: 100%;
    }
}
