#footer {
    background-color: $footer-bg;
    color: $footer-colour;
    display: flex;
}

#investing {
    height: 100%;
    width: 25%;
    float: left;
}

.img {
    width: 100%;
}

#logo {
    height: 100%;
    width: 15%;
}

#disclaimer {
    float: right;
    width: 60%;
    padding: 1rem;
}

.selectpicker {
    position: relative;
    float: right;
    left: 20%;
}
