#footer {
    background-color: $footer-bg;
    color: $footer-colour;
    display: flex;}

.footer-grid{
    display: grid;
    grid-template-columns: 20% 7% 12% 7% 53%;
}

#investing {
    height: 100%;
    width: 100%;
    float: left;
}

.img {
    width: 100%;
    display: block;
}

#logo {
    height: 100%;
    width: 100%;
}

#disclaimer {
    bottom: 0;
    float: left;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
}

