.grid-options {
    display: flex;
    max-width: 136rem;
    margin: auto;
    padding: 1rem;
    align-items: center;

    &__item {
        padding: 0 0.5rem;

        &--download {
            margin-left: auto;
        }
    }
}

%input {
    display: inline;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 0.25rem;

    @media (min-width: $sm) {
        width: auto;
        margin-bottom: 0;
        margin-right: 0.5rem;
    }
}

input,
select {
    @extend %input;
}


.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  position: absolute;
  z-index: 50;
  background-color: white;
  color: black;
  border: 1px #dadada solid;
  height: 500px;
  overflow: auto;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}