.grid {
    overflow-x: auto;
    width: fit-content;
    max-width: 100%;
    margin: auto;

    &__row {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 7rem 20rem 8rem 12rem 20rem 15rem 12rem 8rem 8rem 8rem 12rem 12rem 12rem 12rem;
        margin-bottom: 0.5rem;

        &:hover {
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
        }
    }

    &__item {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        color: #fff;

        .grid__row--even & {
            background-color: $grid-bg-even;
        }

        .grid__row--odd & {
            background-color: $grid-bg-odd;
        }

        @for $i from 1 through 10 {
            .grid__row--gradient-#{$i} & {
                color: #000;
                background-color: mix(
                    $grid-gradient-start,
                    $grid-gradient-end,
                    (10 - $i) * 10
                );
            }
        }
    }

    &__head {
        position: relative;
        font-weight: 700;
        background-color: $heading-colour;
        border-color: $heading-darker;
        color: #000;
        border-style: solid;
        border-width: 1px;

        &:hover {
            background-color: $heading-darker;
        }

        &--sorted-asc {
            ::after {
                position: absolute;
                right: 1rem;
                top: 0.5rem;
                content: "\25BC";
            }
        }

        &--sorted-desc {
            ::after {
                position: absolute;
                right: 1rem;
                top: 0.5rem;
                content: "\25B2";
            }
        }
    }

    &__blank {
        grid-column: span 3;
    }

    &__text {
        padding: 0.5rem;
        margin: 0;
    }
}

.buttons-row {
    width: 100%;
    max-width: 104.375rem;
    margin: auto;
}
#date-picker {
    grid-column: span 2;
    text-align: left;
}

#country-picker {
    grid-column: span 2;
    background-color: #00000000;
    border-style: none;
}

#country-picker-button {
    width: auto;
    align-self: center;
}

#download {
    grid-column: span 2;
}

#history {
    padding: 0.5rem;
}
