.header {
    background-color: $header-bg;
    display: flex;

    &__link {
        text-align: center;
        text-decoration: none;
    }

    &__title {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        color: $header-colour;
    }


    &__logo{
        padding-top: 0.5rem;
        padding-left: 2rem;
        padding-bottom: 0.5rem;
        padding-right:0.5rem;
    }

    &__logo-container{
        width: 30%;
    }


}
