.header {
    background-color: $header-bg;
    display: flex;

    &__link {
        text-decoration: none;
    }

    &__title {
        margin: 0;
        padding: 0.5rem 2rem;
        color: $header-colour;
    }

    &__logo {
        padding: 0.5rem 2rem;
    }

    &__left {
        width: 60%;
    }

    &__right {
        width: 40%;
    }
}
