.nav {
    justify-content: right;
    align-items: flex-end;
    display: flex;
    margin: 0;
    padding   : 0;
    list-style: none;
  
        padding-top: 0.5rem;
        width: 89%;
    &__item {
      display: block;
        &--current {
            background-color: $body-bg;
        }
    }

    &__link {
        display: block;
        padding: 0.5rem 1rem;
        color: $nav-link-colour;
        text-decoration: none;

        &:hover {
            background-color: $nav-link-background-color;
            color: $nav-link-box-color;
        }

        &--current {
            background-color: $nav-link-box-color;
            color: $nav-link-colour;
        }
    }



}
