.nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;

    &__item {
        &.current {
            background-color: $body-bg;
        }
    }

    &__link {
        display: block;
        padding: 0.5rem 1rem;
        color: $nav-link-colour;
        text-decoration: none;

        &:hover {
            color: $nav-link-hover-colour;
        }

        &.current {
            color: $nav-link-current-colour;
        }
    }
}
