.pagination {
    display: flex;
    justify-content: center;

    &__item {
        display: inline-block;
        font-family: $font-family-nunito;
        font-size: 1.8rem;
        font-weight: 600;
        color: white;
        padding: 8px 16px;
        text-decoration: none;

        &:hover {
            color: darken(white, 30%);
        }

        &--current {
            text-decoration: underline;

            &:hover {
                color: white;
            }
        }
    }
}
