$font-family-sans-serif: sans-serif;
$font-family: "Nunito", sans-serif;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Headings
$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

// Colours
$body-colour: #fff;
$body-bg: #3c4147;

$heading-colour: #e8e8f4;
$heading-darker: #999ca5;

$grid-bg-even: #516886;
$grid-bg-odd: #7c94b3;
$grid-gradient-start: #0f830f;
$grid-gradient-end: #59ef59;

$primary: $grid-gradient-start;
$secondary: #f7ff00;
$success: #00cc00;
$danger: #cc0000;

$header-colour: #fff;
$header-bg: #000;
$nav-link-colour: #fff;
$nav-link-current-colour: #000;
$nav-link-hover-colour: #00a6ff;

$footer-bg: #3c4147;
$footer-colour: #fff;
